@import components/mixin

*, *:before, *:after 
    margin: 0
    padding: 0
    box-sizing: border-box

.overflowX-hidden
    overflow-x: hidden

html
    font-size: 1px
    scroll-behavior: smooth

body
    color: $mainColorText
    font-family: 'Montserrat', sans-serif
    font-size: 14rem
    line-height: 24rem
    scroll-behavior: smooth
.text-center
    text-align: center
.roboto
    font-family: 'Roboto Slab', serif
.sub-title
    padding: 28rem 0 70rem
    text-align: center
    font-size: 16rem
a
    display: inline-block
    text-decoration: none

ul
    list-style: none

h2
    position: relative
    padding-bottom: 28rem
    font-size: 20rem
    text-align: center
    text-transform: uppercase
    &::before
        content: ""
        position: absolute
        width: 50rem
        height: 2rem
        background-color: $mainColorText
        bottom: 0
        left: 50%
        transform: translate(-50%, -50%)

.wrapper
    margin: 0 auto
    max-width: 90%
    +media(1170)
        max-width: 1140rem

.flex
    display: flex
    justify-content: space-between

main
    section
        padding: 100rem 0rem

._active
    opacity: 1 
    transform: translate(0px, 0px)
    transition: all 0.8s ease 0s 

.anim-show 
    transform: translate(0px, 120%) 
    opacity: 0
    transition: all 0.8s ease 0s 

._anim-show._active,
._active ._anim-show
    opacity: 1 !important
    transform: translate(0px, 0px) !important


@import components/header
@import components/main
@import components/footer
