footer.position-relative
    section.container-fluid.footer
        .container.foot
            .row 
                .col
    .container-fluid.position-absolute.gradient.w-100
    .container-fluid.copyrayt 
        .container.foot
            .row 
                .col
                    p.text-center.text-white © 2016 Cars.com All rights reserved.
