header
    section.home-page.parallax.relative(data-bg="img/parallaxBG.jpg")#home
        .header.lock-padding
            .header-container.flex.wrapper
                .logo 
                    a(href="index.html") Startup
                .menu-icon
                    span 
                nav.menu-body
                    span
                    ul.menu-list
                        +menu(menu, "scroll-to menu-link")
        .wrapper.home-contant._anim-items._anim-no-hide.text-center
            strong.title-home 
            h1 Your Favourite Creative Agency Template
            a.btn-home(href="#") Get Started 

