header
    section.home-page.parallax#home
        .wrapper.header.flex
            .logo 
                a(href="index.html") Startup
            .hamburger 
                span 
                span 
                span 
            nav.menu
                ul.flex
                    +menu(menu)
        .wrapper.home-contant._anim-items._anim-no-hide.text-center
            strong.title-home 
            h1 Your Favourite Creative Agency Template
            a.btn-home(href="#") Get Started 

