main 
    section.services._anim-items#services
        .wrapper 
            h2._anim-show Services
            p.roboto.sub-title._anim-show We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
            .services-list.flex
                .clean-typography.services-card._anim-show
                    .card-svg.flex
                        svg(version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43 40" width="43" height="40")
                            path(fill-rule="evenodd" class="a" d="m18.7 11.2c1.9 3.8 3.4 7.8 4.8 11.8q-0.7 0-1.5 0c-2.5 0-5.1 0-7.7-0.1zm-18.7 28.8c1.6 0 3.2-0.1 4.9-0.3 0.3-0.1 0.8-0.3 1.2-0.3 3 0 6 0.6 9 0.6q0.1-0.4 0.1-0.7 0-0.8 0-1.5c-1.5-0.3-5.3-0.3-5.3-2.3 0-1 2.6-7.9 3.3-9.4l11.6 0.1c0.4 1.1 3.7 8.8 3.7 9.7 0 1-1.3 1.2-2 1.3l-3.4 0.8q-0.1 1-0.1 2c3.4-0.1 6.8-0.4 10.1-0.4 3.3 0 6.6 0.4 9.9 0.4 0-0.2 0-0.4 0-0.7 0-0.5-0.1-0.9-0.1-1.4-1.3-0.5-3.6-0.7-4.5-1.3-0.4-0.3-0.7-1.1-0.9-1.5-1.3-2.7-2.2-5.5-3.4-8.2-1.9-4.6-3.7-9.2-5.6-13.8l-5.3-12.5q-0.2-0.3-0.3-0.6h-1.4-1.9l-7.3 18.9-6.1 16c-1.1 2.8-3.7 2.3-6.1 3.1z")
                    h3.text-center Clean Typography
                    p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
                .rock-solid.services-card._anim-show
                    .card-svg.flex
                        svg(version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53 40" width="53" height="40")
                            path(fill-rule="evenodd" class="a" d="m15.2 34.2c-0.4 0.4-1 0.4-1.4 0l-13.4-13.5c-0.4-0.4-0.4-1 0-1.4l13.4-13.5c0.4-0.4 1-0.4 1.4 0l1.4 1.5c0.4 0.4 0.4 0.9 0 1.3l-11.3 11.4 11.3 11.4c0.4 0.4 0.4 0.9 0 1.3zm18.5-32.4c0.1-0.4-0.1-1-0.6-1.1l-1.8-0.5c-0.5-0.1-1 0.1-1.1 0.6l-10.8 37.5c-0.2 0.4 0.1 1 0.6 1.1l1.8 0.5c0.5 0.2 1-0.1 1.1-0.6zm19 18.8c0.4-0.3 0.4-0.9 0-1.3l-13.5-13.5c-0.3-0.4-0.9-0.4-1.3 0l-1.4 1.4c-0.4 0.4-0.4 1 0 1.4l11.3 11.4-11.3 11.4c-0.4 0.3-0.4 0.9 0 1.3l1.4 1.4c0.4 0.4 1 0.4 1.3 0z")
                    h3.text-center Rock Solid Code
                    p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
                .expert-support.services-card._anim-show
                    .card-svg.flex
                        svg(version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 49" width="48" height="49")
                            path(fill-rule="evenodd" class="a" d="m48 24.9c0 13.2-10.8 24-24 24-13.3 0-24-10.8-24-24 0-13.3 10.7-24 24-24 13.2 0 24 10.7 24 24zm-24-20.6c3.5 0 6.8 0.9 9.7 2.4l-5.2 5.2c-1.5-0.5-2.9-0.8-4.5-0.8q-2.3 0.1-4.5 0.8l-5.2-5.2c2.9-1.5 6.2-2.4 9.7-2.4zm-18.2 30.2c-1.5-2.9-2.4-6.2-2.4-9.6 0-3.5 0.9-6.8 2.4-9.7l5.2 5.2c-0.4 1.4-0.7 2.9-0.7 4.5q0 2.3 0.7 4.4zm18.2 10.9c-3.5 0-6.8-0.9-9.7-2.4l5.2-5.2q2.2 0.8 4.5 0.8c1.6 0 3-0.3 4.5-0.8l5.2 5.2c-2.9 1.5-6.2 2.4-9.7 2.4zm0-10.3c-5.7 0-10.3-4.6-10.3-10.2 0-5.7 4.6-10.3 10.3-10.3 5.7 0 10.3 4.6 10.3 10.3 0 5.6-4.6 10.2-10.3 10.2zm13-5.8q0.7-2.1 0.7-4.4 0-2.4-0.7-4.5l5.1-5.2c1.6 2.9 2.5 6.2 2.5 9.7 0 3.4-0.9 6.7-2.5 9.6z")
                    h3.text-center Clean Typography
                    p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
    section.about._anim-items#about
        .wrapper 
            h2._anim-show About us
            p.roboto.sub-title._anim-show  Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
            .about-description.flex
                p.anim_left._anim-show Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
                p.anim_right._anim-show Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
            .flex.relative.about-cards.text-center
                span.cards-arrow.left
                +aboutCard (aboutCards.KhalilUddin)
                +aboutCard (aboutCards.RubelMiah)
                +aboutCard (aboutCards.ShamimMia)
                +aboutCard (aboutCards.JohnDoe)
                span.cards-arrow.right
    section.works._anim-items#works
        .wrapper 
            h2._anim-show Latest Works
            nav.roboto.sub-title.works-nav._anim-show
                ul.works-menu.flex
                    +menu(worksMenu)
            .works-photo
                a._anim-no-hide.one._anim-show(href="#") 
                a._anim-no-hide.two._anim-show(href="#") 
                a._anim-no-hide.three._anim-show(href="#") 
                a._anim-no-hide.four._anim-show(href="#") 
                a._anim-no-hide.five._anim-show(href="#") 
                a._anim-no-hide.six._anim-show(href="#") 
                a._anim-no-hide.seven._anim-show(href="#") 
                a._anim-no-hide.eight._anim-show(href="#") 
                a._anim-no-hide.nine._anim-show(href="#") 
    section.parallax._anim-no-hidelax.advertising
        .wrapper.text-center
            p.roboto Do you like OUR WORK so far? Let's talk about YOUR PROJECT!
            a.btn-home.roboto(href="#") Get in Touch
    section.blog._anim-items#blog
        .wrapper
            h2._anim-show Recent blog posts
            p.roboto.sub-title._anim-show Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
            .blog-post.blog-post__one.flex._anim-show
                +blogPost (blogPosts.one)
            .blog-post.blog-post__two.flex._anim-show
                +blogPost (blogPosts.two)
    section.clients#clients
        .wrapper._anim-items
            .brands.flex._anim-show
                +brand(brands)
            .review
                i.text-review.roboto "Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum”
                p.name-review John Doe, Google Inc.
    section.contact._anim-items#contact
        .wrapper
            h2._anim-show Get in touch
            p.roboto.sub-title._anim-show Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
            .flex
                .contact-info
                    .address
                        p.contact-info-title Address
                        address.contact-descr.roboto 312, 7th Ave, New York 
                        address.contact-descr.roboto NY 101200, United States of America
                    .hotline
                        p.contact-info-title Hotline (24x7)
                        p.contact-descr.roboto
                            a(href="tel:+650052300") +65 0052 300,  
                            a(href="tel:+6588251210")  +65 88251 210
                            a(href="tel:+88 01723511340") +88 01723 511 340
                    .mail 
                        p.contact-info-title E-mail
                        p.contact-descr.roboto 
                            a(href="mailto:shapedtheme@gmail.com") shapedtheme@gmail.com
                        p.contact-descr.roboto 
                            a(href="mailto:khalilkode@gmail.com") khalilkode@gmail.com
                .contact-form 
                    form.flex(action="index.html", method="post") 
                        .name-mail.flex
                            input#userName(type="name", name="name", placeholder="Your name")
                            input#UserMail(type="email", name="email", placeholder="Your E-mail")
                        .phone-subj.flex
                            input#userTel(type="tel", name="tel", placeholder="Your phone")
                            input#userCompany(type="text", name="company", placeholder="Company name")
                        .teaxtarea
                            textarea#userMessege(name="message", rows="6", placeholder="Write your message") Write your message
                        .send-warn.flex
                            input(type="submit", value="Send message")
                            span * 
                            p.roboto We’ll contact you as as possible. We don’t reply on Monday.
