//services
    
.services-card
    margin-bottom: 40rem
    padding: 5rem
    max-width: 365rem
    cursor: pointer
    opacity: 0
    
    +media(1170)
        margin-bottom: 0
    &:hover svg
        fill: #fff
    &:hover .card-svg
        background-color: $mainColorSite

    h3
        padding: 25rem 0 
        text-transform: uppercase
.card-svg
    margin: 0 auto
    width: 90rem
    height: 90rem 
    border-radius: 50%
    border: 2px solid #dddddd
    transition: all .5s ease
    svg
        margin: auto
        fill: $mainColorSite

.services-list
    flex-wrap: wrap
    justify-content: center

.clean-typography
    transform: translate(-120%, 0)
    transition: all .5s ease 1s

.rock-solid
    transform: translate(0, 120%)
    transition: all .5s ease 1.3s

.expert-support
    transform: translate(120%, 0)
    transition: all .5s ease 1.6s
    
// about

.about
    background-color: #f8f8f8

.about-description
    justify-content: space-between
    flex-direction: column
    flex-wrap: wrap
    +media(1170)
        flex-direction: row
    p
        padding: 5rem 5rem 35rem 5rem
        opacity: 0
        +media(800)
        +media(1170)
            padding: 0 0 70rem 0
            max-width: 555rem

.anim_left
    transform: translate(-120%, 0)
    transition: all .5s ease 1s
.anim_right
    transform: translate(120%, 0)
    transition: all .5s ease 1s
.anim_left._active,
.anim_right._active
    transform: translate(0, 0)
    transition: all .5s ease 1s
    opacity: 1
.about-cards
    justify-content: space-between

        
.about-img
    position: relative

.employee-social
    display: none
    position: absolute
    width: 100%
    bottom: 10%
    left: 50%
    transform: translateX(-50%)
    a
        margin: 2rem
        width: 30px
        height: 30px
        transition: all .3s ease
        background: url(../img/sprite.png) no-repeat
    .fb
        background-position: 0 0
        &:hover
            background-position: 0 -30px
    .tw
        background-position: -32px 0
        &:hover
            background-position: -32px -30px
    .gg
        background-position: -64px 0
        &:hover
            background-position: -64px -30px
    .in
        background-position: -96px 0
        &:hover
            background-position: -96px -30px
.employee-name
    padding: 10rem 0
    text-transform: uppercase

.about-card
    cursor: pointer
    &:hover .employee-social
        display: block
.relative
    position: relative

.description-card
    transform: translate(0, 50%)
    opacity: 0
    transition: all .3s ease 0
.description-card._active 
    transform: translate(0, 0)
    opacity: 1
    transition: all .8s ease .4s


.cards-arrow
    position: absolute
    width: 35rem
    height: 38rem
    top: 40%
    transform: translateY(-50%)
    background-color: rgba(#555, 0.2)
    transition: all .3s ease
    z-index: 2
    cursor: pointer
    &:hover
        background-color: $mainColorSite
    &::before
        content: ""
        position: absolute
        width: 10px
        height: 10px
        border-right: 2px solid #ddd
        border-bottom: 2px solid #ddd
        border-radius: 1px
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) rotate(135deg)
        z-index: 3

.right
    right: 0
    &::before
        transform: translate(-50%, -50%) rotate(-45deg)

// Works

.works-nav
    .flex
        justify-content: center
        flex-wrap: wrap
    a
        padding: 0 15rem
        color: $mainColorText
        &:hover
            color: $mainColorSite

.works-photo
    display: grid
    gap: 30rem
    grid-template-columns: repeat(3, 1fr)
    a
        opacity: 0
        width: 360rem
        height: 320rem
        transform: rotate(-60deg) scale(0.3)
        transition: filter .3s ease !important

        &:hover
            filter: brightness(50%)
    a._active
        opacity: 1
        transform: rotate(0) scale(1)
    .one
        background: url('../img/1.jpg')
        transition: all .3s ease 1.3s
    .two
        background: url('../img/2.jpg')
        transition: all .3s ease 1.5s
    .three
        background: url('../img/3.jpg')
        transition: all .3s ease 1.7s
    .four
        background: url('../img/4.jpg')
        transition: all .3s ease 1.9s
    .five
        background: url('../img/5.jpg')
        transition: all .3s ease 2.1s
    .six
        background: url('../img/6.jpg')
        transition: all .3s ease 2.3s
    .seven
        background: url('../img/7.jpg')
        transition: all .3s ease 2.5s
    .eight
        background: url('../img/8.jpg')
        transition: all .3s ease 2.7s
    .nine
        background: url('../img/9.jpg')
        transition: all .3s ease 3s

// advertising

.advertising
    background: linear-gradient(rgba($mainColorSite,0.45),rgba($mainColorSite,0.45)), url(../img/blogBgi.jpg) center / 150% auto
    background-color: $mainColorSite
    .wrapper
        pointer-events: none
    p
        margin: 0 auto 50rem
        max-width: 465rem
        font-size: 30rem
        line-height: 44rem
        color: #ffffff
    a
        pointer-events: all
        color: #fff

// Blog

.blog-post
    padding: 35rem 0
    transform: translate(20%, 0px) 
    transition: all 1.2s ease 0s 
    opacity: 0
    cursor: pointer
    &:hover .sub-name-post span,
    &:hover .name-post p,
    &:hover .more-post
        color: $mainColorSite
.blog-post__one
    transition: all 0.8s ease 1.5s 
.blog-post__two
    transition: all 0.8s ease 1.9s 
    border-top: 1rem solid #ddd
.data-name-post
    justify-content: flex-start

.post-img
    margin-right: 40rem
    max-width: 460rem
    img
        width: 100%
.text-info
    max-width: 635rem
.data-post
    padding: 10rem
    margin-right: 20rem
    border: 2px solid #555555
    width: 77rem
    text-align: center
    font-size: 24rem
    letter-spacing: 2rem
    line-height: 20rem
    text-transform: uppercase
    font-weight: 700
    color: #777777
    span
        font-size: 14rem

.name-post 
    p
        padding: 7rem
        font-size: 16rem
        font-weight: 700
        line-height: 24rem
        text-transform: uppercase
        color: #555555
    i
        padding: 7rem
        font-size: 13rem
        line-height: 24rem
        color: #777777
.description-post
    padding: 25rem 0 34rem 0

.more-post
    font-size: 13rem
    letter-spacing: 1rem
    line-height: 24rem
    text-transform: uppercase
    color: #777777

// clients
.clients
    background-color: #f8f8f8
    text-align: center
.brands
    margin-bottom: 65rem
    justify-content: center
    align-items: center
    a
        margin: 0 30rem
        transition: all 0.8s ease 
        &:hover
            transform: scale(1.2)
.review
    margin: 0 auto
    max-width: 760rem
.name-review
    padding-top: 40rem

// contact
.contact > .wrapper > .flex
    justify-content: space-between
.contact-info
    padding-left: 25rem
    div
        margin-bottom: 35rem

.contact-info-title
    padding-bottom: 18rem
    font-weight: 700
    text-transform: uppercase

.contact-descr
    font-size: 12rem

.contact-form 
    max-width: 730rem
    form
        flex-direction: column
        align-items: stretch
    input,
    textarea
        margin: 10rem 15rem
        padding: 10.5rem 17rem
        font-size: 12rem
        line-height: 20rem
        text-transform: uppercase
        outline: none
        &:active
            outline: none
        &:focus
            outline: none
        &:focus-visible
            border: 1px solid $mainColorSite
    .textarea
        width: 100%
    textarea
        resize: vertical
        min-height: 40px
        max-height: 250px
        width: 96%
    .name-mail,
    .phone-subj
        width: 730rem
        input
            width: 50%
.send-warn
    align-items: center
    input
        background-color: #fff
        border: 1px solid #555
        transition: all 0.8s ease
        cursor: pointer
        &:hover
            background: $mainColorSite
            border-color: $mainColorSite
            color: #fff
    span
        padding-right: 3rem
        color: $mainColorSite

